
body, html {
    height: auto;
    width: auto;
}

* {
    box-sizing: border-box;
}

.bg-image {
   
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    width: auto;
}
#us-map-background {
    box-sizing: border-box;
    max-height: 99%;
    max-width: 99%;
}


.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0);
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 50% !important;
    left: 50% !important; 
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#playButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    text-decoration: none;
}


    #playButton:hover {
        background-color: #3e8e41
    }

    #playButton:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
