@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<h3>@Model.Message</h3>

<address>
    Issues with the website?<br />
    Email us at <a href="mailto:Support@example.com">Support@example.com</a> for help.<br />
</address>
<h3>@Model.Message1</h3>
<address>
    Questions about the website?<br />
    Email us at  <a href="mailto:Questions@example.com">Questions@example.com</a> to learn more.<br />
</address>
