@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<div align = "center">
<h1>@ViewData["Title"]</h1>
<h3>@Model.Message <span class=" glyphicon glyphicon-wrench"></span></h3>

<address>
    Issues with the website?<br />
    Email us at <a href="mailto:Support@team450.com">Support@team450.com</a> for help.<br />
</address>
<h3>@Model.Message1 <span class=" glyphicon glyphicon-earphone"></span></h3>
<address>
    Questions about the website?<br />
    Email us at  <a href="mailto:Questions@team450.com">Questions@team450.com</a> to learn more.<br />
</address>
</div>