@page
@model ScoreboardModel
@{
    ViewData["Title"] = "Scoreboard";
}



<link rel="stylesheet" href="~/css/home.css">

<div class="bg-image">
    <img src="~/images/image.png" alt="Alternate Text" />
</div>


<div class="bg-text">
    <div class="flex-center">
        <p><button id="playButton" onclick="window.location.href='/US_States'">US States</button></p>
        <p><button id="playButton" onclick="window.location.href='/US_Capitals'">US Capitals</button></p>
        <p><button id="playButton" onclick="window.location.href='/US_State_Locate'">US State Locate</button></p>
        <p><button id="playButton" onclick="window.location.href='/Index'">Main Menu</button></p>
    </div>
</div>
