@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <link rel="stylesheet" href="~/css/home.css">
   

    <div class="bg-image">
        <img src="~/images/image.png" alt="Alternate Text" />
    </div>

    <div class="bg-text">
        <div class="flex-center">
            <p><button id="playButton" onclick="window.location.href='/Home'">Play Game</button></p>
            <p><button id="playButton">Learn How to Play</button></p>
        </div>
    </div>



    <!-- <button onclick="window.location.href='link1.html'">Click me</button> -->

