@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<link rel="stylesheet" href="~/css/home.css">

<img class="bg-image" src="~/images/image.png" alt="Alternate Text" />

<div class="bg-text">
    <div class="flex-center">
        <p><button id="playButton" onclick="window.location.href='/Home'">Play Game</button></p>
        <p><button id="playButton" onclick="window.location.href='/Instructions'">Learn How to Play</button></p>
    </div>
</div>