@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <div class="bg-image">
        <img src="~/images/image.png" alt="Alternate Text" />
    </div>

    <div class="bg-text">
        <div class="flex-center">
            <p><button>
                    <a id="playButton" asp-page="/Home">Play Game</a>
            </button></p>
            <p><button id="playButton">Learn How to Play</button></p>
        </div>
    </div>



    <!-- <button onclick="window.location.href='link1.html'">Click me</button> -->

