@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <h1>Instructions on How to Play the Game.</h1>

    <p>
        Your goal is to identify all 50 US states/capitals within 10 minutes!<br>
        Hovering over a gray state will turn it blue, indicating that it has not been attempted yet. <br>
        Clicking on the state will turn it yellow and open up a prompt asking you a question!<br>
        Enter your response in the textbox and press the SUBMIT button or the ENTER key to submit your answer. <br>
        Otherwise, if you are unsure about your answer, press the BACK button to leave the state unanswered. <br>
        Correctly identified states will turn green. Incorrect states will turn red. <br>
        Be careful! You will only get one attempt at answering each state! <br>
        Once either all 50 states have been attempted, or the timer runs out, the game will end and give you your final score. <br>
        Good luck!<br>
        <br>
        <h2>Scoring System</h2>
        +5 points for a correctly answered question <br>
        -2 points for an incorrectly answered question <br>
        +1 point for every 5 seconds left on the clock when finished
    </p>

