@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <h1>Instructions on How to Play the Game.</h1>

    <p>
        It is a long established fact that a reader will be distracted by the readable content <br>
        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a <br>
        more-or-less normal distribution of letters, as opposed to using 'Content here,content <br>
        here', making it look like readable English. Many desktop publishing packages and web <br>
        page editors now use Lorem Ipsum as their default model text, and a search for 'lorem <br>
        ipsum' will uncover many web sites still in their infancy.Various versions have evolved <br>
        over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>

