@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



    <h1>Instructions on How to Play the Game.</h1>

    <p>
        Step 1: Select what type of game you would like to play <br>
        Step 2: Press Start <br>
        Step 3: Click on a state <br>
        Step 4: Click on the text box <br>
        Step 5: Type in the information asked for <br>
        Step 6: Click on the submit button <br>
        Step 7: Continue until all states have been answered <br>
        <br>
        <h2>Scoring System</h2>
        +5 points for a correctly answered question <br>
        -2 points for an incorrectly answered question <br>
        +1 point for every 5 seconds left on the clock when finished
    </p>

